In [4]:
import pandas
sf = pandas.read_csv('1.people-example.csv')
sf.tail()

  First Name Last Name        Country  age
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [7]:
sf['Country']

0    United States
1           Canada
2          England
3              USA
4           Poland
5    United States
6      Switzerland
Name: Country, dtype: object

In [8]:
sf['age']

0    24
1    23
2    22
3    23
4    23
5    22
6    25
Name: age, dtype: int64

In [10]:
sf['age'].mean()

23.142857142857142

In [11]:
sf['age'].max()

25

In [12]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']
sf

  First Name Last Name        Country  age       Full Name
0        Bob     Smith  United States   24       Bob Smith
1      Alice  Williams         Canada   23  Alice Williams
2    Malcolm      Jone        England   22    Malcolm Jone
3      Felix     Brown            USA   23     Felix Brown
4       Alex    Cooper         Poland   23     Alex Cooper
5        Tod  Campbell  United States   22    Tod Campbell
6      Derek      Ward    Switzerland   25      Derek Ward

In [13]:
sf['age']*sf['age']

0    576
1    529
2    484
3    529
4    529
5    484
6    625
Name: age, dtype: int64

In [14]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [15]:
transform_country('Brazil')

'Brazil'

In [16]:
transform_country('Brasil')

'Brasil'

In [17]:
transform_country('USA')

'United States'

In [19]:
sf['Country'] = sf['Country'].apply(transform_country)

In [20]:
sf

  First Name Last Name        Country  age       Full Name
0        Bob     Smith  United States   24       Bob Smith
1      Alice  Williams         Canada   23  Alice Williams
2    Malcolm      Jone        England   22    Malcolm Jone
3      Felix     Brown  United States   23     Felix Brown
4       Alex    Cooper         Poland   23     Alex Cooper
5        Tod  Campbell  United States   22    Tod Campbell
6      Derek      Ward    Switzerland   25      Derek Ward